/*
Written by Saša Djukić
in sunny Toronto :D
*/

/* ~~~~~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~~~~ */
*{
	margin: 0;
	padding: 0;
	font-family: -apple-system, sans-serif;
}

::selection{
	background-color: rgba(0,0,0,0.99);
	color: #fff;
}

.night{
	background-color: #000;
	color: #fff;
	animation: fadein 1s;
}

.nav-night{
	color: #fff;
}

nav{
	font-size: 5em;
	z-index: 3;
	background-color: none;
	position: relative;
}

nav a{
	color: #000;
	text-decoration: none;
	padding: 0 10px;
	border-radius: 10px;
	cursor: pointer;
}

#aboutme{
	position: fixed;
	top: 29px;
	right: 30px;
}

#down{
	font-size: 5em;
	z-index: 3;
	background-color: none;
	color: #000;
	text-decoration: none;
	padding: 0 10px;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	bottom: 30px;
	left: 30px;
}

#night,
#day{
	position: fixed;
	bottom: 30px;
	right: 30px;
}

nav a:hover,
.toggle a:hover{
	animation: rainbow 2s infinite;
}

a{
	text-decoration: none;
	color: #000;
}

/* ~~~~~~~~~~~~~~~~~~~~ HEADINGS ~~~~~~~~~~~~~~~~~~~~ */
h1, h2, h4{
	font-size: 5em;
}

h3{
	font-size: 2em;
}

h1, h3{
	font-weight: 400;
}

h2{
	margin-top: -50px;
	font-weight: 600;
}

h4{
	/*padding-top: 30px;*/
	font-weight: 600;
}

h5{
	margin-top: 50px;
	font-size: 2em;
	font-weight: 400;
}

h4 span.ampersand{
	font-family: serif;
	font-weight: 100;
	font-style: italic;
	margin: 0 -8px 0 -10px;
}

/* ~~~~~~~~~~~~~~~~~~~~ COPY ~~~~~~~~~~~~~~~~~~~~ */
p{
	padding: .5em 0;
	font-family: sans-serif;
	/*font-family: Calluna, serif;*/
	font-size: 24px;
	line-height: 38px;
}

.paragraph{
	/*padding: 100px 20%;*/
	max-width: 45rem;
	margin: 50px auto;
}

.paragraph_link{
	font-weight: 700;
	text-decoration: none;
}

.paragraph_link:hover,
.paragraph_link:active{
	animation: rainbow 2s infinite;
}

figure img{
	display: block;
	margin: 0 auto;
	border-radius: 8px;
}

figure figcaption{
	width: 50%;
	display: block;
	margin: 20px auto;
	font-size: 0.8em;
}

.fifty{
	width: 50%;
}

.sixtyfive{
	width: 65%;
}

.eightyfive{
	width: 85%;
}

.quote{
	width: 80%;
	margin: 0 auto;
	font-size: 3em;
}

/* ~~~~~~~~~~~~~~~~~~~~ GENERAL ~~~~~~~~~~~~~~~~~~~~ */
section{
	margin: 0 30px;
}

.projects{
}

.project{
}

.toggle{
	padding-top: 30px;
}

.toggle a,
.toggle span{
	font-size: 5em;
	color: #ddd;
}

.toggle span{
	padding: 0 20px;
	color: #ddd;
}

.fivetonine{
}

a.active{
	color: #000;
}

a.active:hover{
	color: #000 !important;
	text-decoration: none;
	cursor: auto;
}

.margin-top30{
	margin-top: 30px;
}

.margin-top50{
	margin-top: 50px;
}

.margin-top100{
	margin-top: 100px;
}

.margin-top200{
	margin-top: 200px;
}

.margin-top300{
	margin-top: 300px;
}

.margin-bottom300{
	margin-bottom: 300px;
}

.notbold{
	font-weight: 400;
}

.intro-wrapper{
	height: 100vh;
}

.intro{
	position: relative;
	z-index: 2;
}

.intro div{
	display: inline-block;
	line-height: 0;
}

.firstname{
	height: 100px;
}
.statement,
.statement_mobile{
	margin-top: 50px;
}

.statement,
.statement_mobile,
.instruction{
	position: relative;
}

.hidden{
	display: none;
}

.centered{
	text-align: center;
}

.rightaligned{
	text-align: right;
}

.leftaligned{
	text-align: left;
}

.about{
	animation: about 60s linear infinite;
}

.ellipsis{
	font-size: 3em;	
}

/* ~~~~~~~~~~~~~~~~~~~~ ANIMATIONS ~~~~~~~~~~~~~~~~~~~~ */
@keyframes about{
	0%		{background-color: #dbe0ff;}
	25%		{background-color: #ffe8ef;}
	50%		{background-color: #e5c7ff;}
	75%		{background-color: #d6fff2;}
	100%	{background-color: #dbe0ff;}
}

@keyframes rainbow {
  0%		{color: red;}
  25%		{color: blue;}
  50%		{color: teal;}
  75%		{color: blue;}
  100%	{color: black;}
}

@keyframes fadein{
	0%		{opacity: 0;}
	100%	{opacity: 100;}
}

/* ~~~~~~~~~~~~~~~~~~~~ 3D ~~~~~~~~~~~~~~~~~~~~ */
/* CUBE */
.intrographic{
	margin-top: -400px;
	transform: translate3d(0,0,0); /* SAFARI Z-INDEX FIX */
	-webkit-transform: translate3d(0,0,0); /* SAFARI Z-INDEX FIX */
}

#cube{
	width: 600px;
	height: 600px;
	margin: 0 auto 150px;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.side{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.8;
}

.cube_one{
	transform: translateZ(300px);
	-webkit-transform: translateZ(300px);
	background-color: red
}

.cube_two{
	transform: rotateY(90deg) translateZ(300px);
	-webkit-transform: rotateY(90deg) translateZ(300px);
	background-color: #ffff00; /* YELLOW */
}

.cube_three{
	transform: rotateY(180deg) translateZ(300px);
	-webkit-transform: rotateY(180deg) translateZ(300px);
	background-color: #00ff00; /* GREEN */
}

.cube_four{
	transform: rotateY(-90deg) translateZ(300px);
	-webkit-transform: rotateY(-90deg) translateZ(300px);
	background-color: #ff00c8; /* PINK */;
}

.cube_five{
	transform: rotateX(90deg) translateZ(300px);
	-webkit-transform: rotateX(90deg) translateZ(300px);
	background-color: #9013FE; /* PURPLE */;
}

.cube_six{
	transform: rotateX(-90deg) translateZ(300px) rotate(0deg);
	-webkit-transform: rotateX(-90deg) translateZ(300px) rotate(0deg);
	background-color: blue;
}

/* SPHERE */
#sphere{
	width: 800px;
	height: 800px;
	margin: 80px auto;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 1;
}

.sphere_side{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
	border-radius: 50%;
}

.sphere_one{
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	background-color: red;
}

.sphere_two{
	transform: rotateY(45deg) translateZ(0);
	-webkit-transform: rotateY(45deg) translateZ(0);
	background-color: #009246; /* ITALY GREEN */
}

.sphere_three{
	transform: rotateY(90deg) translateZ(0);
	-webkit-transform: rotateY(90deg) translateZ(0);
	background-color: red;
}

.sphere_four{
	transform: rotateY(135deg) translateZ(0);
	-webkit-transform: rotateY(135deg) translateZ(0);
	background-color: #009246; /* ITALY GREEN */
}

/* SYSTEM */
#system{
	width: 600px;
	height: 600px;
	margin: 0 auto 150px;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.system-side{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.8;
}

.system-side svg{
	height: 300px;
	width: 300px;
}

.system1{
	transform: translateZ(300px);
	-webkit-transform: translateZ(300px);
	background-color: red
}

/* PYRAMID */
#pyramid{
	width: 800px;
	height: 800px;
	margin: 80px auto;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 1;
}

.pyramid_side{
	position: absolute;
	opacity: 1;
}

.pyramid_one{
	-webkit-transform: rotateY(-90deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.pyramid_two{
	-webkit-transform: rotateY(0deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.pyramid_three{
	-webkit-transform: rotateY(-90deg) rotateX(41.8deg) translateZ(-90px) translateY(-97px);
}

.pyramid_four{
	-webkit-transform: rotateY(180deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.pyramid_one svg,
.pyramid_two svg,
.pyramid_three svg,
.pyramid_four svg{
	height: 800px;
	width: 800px;
}

.sparkle{
	display: block;
}

.sparkle1{
	-webkit-transform: translateY(540px) translateX(200px);
}

.sparkle2{
	-webkit-transform: translateY(140px) translateX(200px) rotateY(90deg);
}


/* ~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES~~~~~~~~~~~~~~~~~~~~ */
/* DESKTOP */
@media all and (max-width: 2000px) and (min-width: 1000px) {
  #cube,
  #sphere,
  #pyramid{
    transform-style: preserve-3d;
  	animation: spinzoneX 120s infinite linear;
  }
  @keyframes spinzoneX {
  	from {transform: rotateX(0);}
  	to {transform: rotateX(360deg);}
	}

  #cubeY,
  #sphereY,
  #pyramidY{
    transform-style: preserve-3d;
  	animation: spinzoneY 120s infinite linear;
  }
  @keyframes spinzoneY {
  	from {transform: rotateY(0);}
  	to {transform: rotateY(360deg);}
	}

  #cubeZ,
  #sphereZ,
  #pyramidZ{
    transform-style: preserve-3d;
  	animation: spinzoneZ 120s infinite linear;
  }
  @keyframes spinzoneZ {
  	from {transform: rotateZ(0);}
  	to {transform: rotateZ(360deg);}
	}

	.statement_mobile{
		display: none;
	}
}

/* MOBILE */
@media all and (max-width: 999px) and (min-width: 320px) {
	nav.about,
	nav.night{
	right: 20px;
	}

	h3{
		font-size: 3em;
	}

	h5{
		font-size: 3em;
		font-weight: 600;
	}

	.fifty{
		width: 100%;
	}

	.statement,
	.instruction{
		display: none;
		margin-right: 10px;
	}

	.intrographic{
		margin-top: 200px;
	}

	p{
	font-size: 36px;
	line-height: 52px;
	}
}











