/*
Written by Saša Djukić
in sunny Toronto :D
*/

*{
	margin: 0;
	padding: 0;
	font-family: -apple-system, sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

a h4:hover{
	color: red;
}

h1, h2, h3, h4{
	font-size: 5em;
}

h1, h3{
	font-weight: 400;
}

h2{
	margin-top: -50px;
	font-weight: 600;
}

h4{
	font-weight: 600;
}

h5{
	margin-top: 50px;
	font-size: 2em;
	font-weight: 400;
}

h3 span{

}

h4 span.ampersand{
	font-family: serif;
	font-weight: 100;
	font-style: italic;
	margin: 0 -8px 0 -10px;
}

p{
	padding: .5em 0;
	font-size: 2em;
	line-height: 1.4em;
}

.paragraph{
	/*padding: 100px 20%;*/
	max-width: 50rem;
	margin: 50px auto;
}

.paragraph_link{
	font-weight: 700;
	text-decoration: underline;
}

.paragraph_link:hover,
.paragraph_link:active{
	animation: rainbow 2s infinite;
}

figure img{
	width: 50%;
	display: block;
	margin: 0 auto;
}

figure figcaption{
	width: 50%;
	display: block;
	margin: 10px auto;
	font-size: 0.8em;
}

nav{
	position: fixed;
	top: 29px;
	right: 30px;
	font-size: 5em;
	z-index: 3;
}

nav a{
	color: #000;
	text-decoration: none;
	padding: 0 10px;
	border-radius: 10px;
}

nav a:hover,
nav a:active{
	animation: rainbow 2s infinite;
}

::selection{
	background-color: rgba(0,0,0,0.99);
	color: #fff;
}

section{
	margin: 30px;
}

.project{
	margin-top: 300px;
}

.intro{
	position: relative;
	z-index: 2;
}

.intro div{
	display: inline-block;
	line-height: 0;
}

.firstname{
	height: 100px;
}
.statement,
.statement_mobile{
	margin-top: 100px;
}

.statement,
.statement_mobile,
.instruction{
	position: relative;
}

.hidden{
	display: none;
}

.centered{
	text-align: center;
}

.rightaligned{
	text-align: right;
}


.leftaligned{
	text-align: left;
}

.about{
	animation: about 60s linear infinite;
}

/* ~~~~~~~~~~~~~~~~~~~~ ANIMATIONS ~~~~~~~~~~~~~~~~~~~~ */
@keyframes about{
	0%		{background-color: #dbe0ff;}
	25%		{background-color: #ffe8ef;}
	50%		{background-color: #e5c7ff;}
	75%		{background-color: #d6fff2;}
	100%	{background-color: #dbe0ff;}
}

@keyframes rainbow {
  0%		{color: red;}
  25%		{color: blue;}
  50%		{color: teal;}
  75%		{color: blue;}
  100%	{color: black;}
}

/* ~~~~~~~~~~~~~~~~~~~~ 3D ~~~~~~~~~~~~~~~~~~~~ */
/* CUBE */
.intrographic{
	margin-top: -400px;
	transform: translate3d(0,0,0); /* SAFARI Z-INDEX FIX */
	-webkit-transform: translate3d(0,0,0); /* SAFARI Z-INDEX FIX */
}

#cube{
	width: 600px;
	height: 600px;
	margin: 0 auto 150px;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.side{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.8;
}

.cube_one{
	transform: translateZ(300px);
	-webkit-transform: translateZ(300px);
	background-color: red
}

.cube_two{
	transform: rotateY(90deg) translateZ(300px);
	-webkit-transform: rotateY(90deg) translateZ(300px);
	background-color: yellow;
}

.cube_three{
	transform: rotateY(180deg) translateZ(300px);
	-webkit-transform: rotateY(180deg) translateZ(300px);
	background-color: #00ff00; /* GREEN */
}

.cube_four{
	transform: rotateY(-90deg) translateZ(300px);
	-webkit-transform: rotateY(-90deg) translateZ(300px);
	background-color: #ff00c8; /* PINK */;
}

.cube_five{
	transform: rotateX(90deg) translateZ(300px);
	-webkit-transform: rotateX(90deg) translateZ(300px);
	background-color: #9013FE; /* PURPLE */;
}

.cube_six{
	transform: rotateX(-90deg) translateZ(300px) rotate(0deg);
	-webkit-transform: rotateX(-90deg) translateZ(300px) rotate(0deg);
	background-color: blue;
}

/* SPHERE */
#sphere{
	width: 800px;
	height: 800px;
	margin: 50px auto;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 1;
}

.sphere_side{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
	border-radius: 50%;
}

.sphere_one{
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	background-color: red;
}

.sphere_two{
	transform: rotateY(45deg) translateZ(0);
	-webkit-transform: rotateY(45deg) translateZ(0);
	background-color: #009246; /* ITALY GREEN */
}

.sphere_three{
	transform: rotateY(90deg) translateZ(0);
	-webkit-transform: rotateY(90deg) translateZ(0);
	background-color: red;
}

.sphere_four{
	transform: rotateY(135deg) translateZ(0);
	-webkit-transform: rotateY(135deg) translateZ(0);
	background-color: #009246; /* ITALY GREEN */
}

/* PYRAMID */
#pyramid{
	width: 800px;
	height: 800px;
	margin: 50px auto;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 1;
}

.pyramid_side{
	position: absolute;
	opacity: 1;
}

.pyramid_one{
	-webkit-transform: rotateY(-90deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.pyramid_two{
	-webkit-transform: rotateY(0deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.pyramid_three{
	-webkit-transform: rotateY(-90deg) rotateX(41.8deg) translateZ(-90px) translateY(-97px);
}

.pyramid_four{
	-webkit-transform: rotateY(180deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.pyramid_one svg,
.pyramid_two svg,
.pyramid_three svg,
.pyramid_four svg{
	height: 800px;
	width: 800px;
}

.sparkle{
	display: block;
}

.sparkle1{
	-webkit-transform: translateY(540px) translateX(200px);
}

.sparkle2{
	-webkit-transform: translateY(140px) translateX(200px) rotateY(90deg);
}


/* ~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES~~~~~~~~~~~~~~~~~~~~ */
/* DESKTOP */
@media all and (max-width: 2000px) and (min-width: 1000px) {
  #cube,
  #sphere,
  #pyramid{
    transform-style: preserve-3d;
  	animation: spinzoneX 120s infinite linear;
  }
  @keyframes spinzoneX {
  	from {transform: rotateX(0);}
  	to {transform: rotateX(360deg);}
	}

  #cubeY,
  #sphereY,
  #pyramidY{
    transform-style: preserve-3d;
  	animation: spinzoneY 120s infinite linear;
  }
  @keyframes spinzoneY {
  	from {transform: rotateY(0);}
  	to {transform: rotateY(360deg);}
	}

  #cubeZ,
  #sphereZ,
  #pyramidZ{
    transform-style: preserve-3d;
  	animation: spinzoneZ 120s infinite linear;
  }
  @keyframes spinzoneZ {
  	from {transform: rotateZ(0);}
  	to {transform: rotateZ(360deg);}
	}

	.statement_mobile{
		display: none;
	}
}

/* MOBILE */
@media all and (max-width: 999px) and (min-width: 320px) {
	nav{
	right: 20px;
	}

	.statement,
	.instruction{
		display: none;
		margin-right: 10px;
	}

	.intrographic{
		margin-top: -100px;
	}
}











