/*
Written by Saša Djukić
in sunny Toronto :D
*/

/* ~~~~~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~~~~ */
*{
	margin: 0;
	padding: 0;
	/*font-family: -apple-system, sans-serif;*/
	/*letter-spacing: 0.1px;*/
	font-family: Neue Haas Unica;
}

::selection{
	background-color: rgba(0,0,0,0.99);
	color: #fff;
}

.night{
	background-color: #000;
	color: #fff;
	animation: fadein 1s;
}

.nav-night{
	color: #fff;
}

nav{
	font-size: 5em;
	z-index: 100;
	background-color: none;
	position: relative;
}

nav a{
	color: #000;
	text-decoration: none;
	padding: 0 10px;
	border-radius: 10px;
	cursor: pointer;
}

#aboutme{
	position: fixed;
	top: -1px;
	right: 30px;
}

#down{
	font-size: 5em;
	z-index: 100;
	background-color: none;
	color: #000;
	text-decoration: none;
	padding: 0 10px;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	left: 30px;
}

#night,
#day{
	position: fixed;
	bottom: 20px;
	right: 30px;
}

nav a:hover,
.toggle a:hover{
	animation: rainbow 2s infinite;
}

a{
	text-decoration: none;
	color: #000;
}

/*a:hover,
a:focus{
	animation: rainbow 2s infinite;
}*/

.rainbow{
	animation: rainbow 2s infinite;
}

/* ~~~~~~~~~~~~~~~~~~~~ HEADINGS ~~~~~~~~~~~~~~~~~~~~ */
h1, h2, h3{
	font-size: 5em;
}

h2{
	font-family: Austin, serif;
	font-style: italic;
}

h3{
	/*font-size: 12em;*/
	/*line-height: 1em;*/
	text-align: center;
	position: absolute;
	z-index: 3;
}

h1, h2, h3{
	font-weight: 400;
}

.heavy{
	font-weight: 600;
}

h4{
	font-weight: 600;
}

h4 span.ampersand{
	font-family: serif;
	font-weight: 100;
	font-style: italic;
	margin: 0 -8px 0 -10px;
}

h5{
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
}

h6{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 2px;
}

.cities,
.notes,
.legend,
.legend_separator{
	display: inline-block;
	margin-right: 20px;
}

.legend_separator{
	font-weight: 100;
}

.active_link,
.link{
	border-bottom: 1px solid black;
}

.intro-wrapper{
	/*height: 100vh;*/
	overflow: hidden;
}

.intro{
	position: relative;
	margin-left: 30px;
	z-index: 3;
}

.intro div{
	display: inline-block;
	line-height: 0;
}

.firstname{
	height: 100px;
}
.statement,
.statement_mobile{
	margin-top: 50px;
}

.statement,
.statement_mobile{
	position: relative;
}

/* ~~~~~~~~~~~~~~~~~~~~ COPY ~~~~~~~~~~~~~~~~~~~~ */
p{
	padding: .5em 0 .5em 0;
	font-family: Neue Haas Unica;
/*	font-size: 24px;
	line-height: 36px;*/
	font-size: 20px;
	line-height: 30px;
}

.thin{
	font-weight: 200;
}

.serif{
	font-family: Austin, serif;
	font-size: 2.5em;
	font-style: italic;
	font-weight: 100;
	letter-spacing: 1px;
}

.smaller_copy{
	font-size: 20px;
	line-height: 26px;
	padding-right: 60px;
}

.paragraph{
	max-width: 29rem;
	z-index: 100;
	display: inline-block;
}

.paragraph_link{
	margin-right: 20px;
	font-size: 24px;
	line-height: 35px;
	border-bottom: 1px solid black;
}

.paragraph_link:hover,
.paragraph_link:active{
	animation: rainbow 2s infinite;
}

.about_links{
	margin-top: 50px;
}

figure img{
	display: block;
	margin: 0 auto;
	border-radius: 8px;
}

figure figcaption{
	display: block;
	margin: 10px 30px;
	font-size: 0.8em;
}

.fifty{
	width: 50%;
}

.sixtyfive{
	width: 65%;
}

.eightyfive{
	width: 85%;
}

.quote{
	width: 65%;
	margin: 0 auto;
	font-size: 3em;
}

/* ~~~~~~~~~~~~~~~~~~~~ CLASSIFICATION ~~~~~~~~~~~~~~~~~~~~ */
.favouritespots{
	background-color: #FFE633;
	margin: 100px 0 0 !important;
	padding: 0 30px;
}

.favouritethings{
	background-color: #7BFFBB;
	margin: 0 !important;
	padding: 50px 30px;
}

.skills{
	background-color: #605EFF;
	margin: 0 !important;
	padding: 50px 30px;
}

.classification{
	width: 20px;
	height: 20px;
	margin-right: 6px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: -6px;
}

.classification_mini{
	width: 10px;
	height: 10px;
	margin-right: 6px;
	border-radius: 50%;
	display: inline-block;
}

.restaurant{background-color: white;} /* yellow: f07e5d */

.nature{background-color: #04cc5a;}

.place{background-color: #6450ff;}

.book{background-color: black;}

.film{background-color: red;}

.music{background-color: pink;}

.fooddrink{background-color: yellow;}

.object{background-color: white;}

/*[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}*/

/* ~~~~~~~~~~~~~~~~~~~~ GENERAL ~~~~~~~~~~~~~~~~~~~~ */
section{
	/*margin: 0 30px;*/
	/*padding: 0 30px;*/
}

.grid3070{
	display: flex;
}

.offset30{
	margin-left: calc(26rem + 60px);
}

.text30{
	min-width: 23rem;
	max-width: 23rem;
	margin-right: 85px; 
}

.textfull{
	max-width: 100%;
}

.image70 img{
	width: 100%;
	/*border-radius: 8px;*/
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start; /*horizontal*/
	text-align: flex-start; /*vertical*/
}

.toggle{
	padding-top: 30px;
}

.toggle a,
.toggle span{
	font-size: 5em;
	color: #ddd;
}

.toggle span{
	padding: 0 20px;
	color: #ddd;
}

a.active{
	color: #000;
}

a.active:hover{
	color: #000 !important;
	text-decoration: none;
	cursor: auto;
}

/*NEGATIVE*/
.margin-top-50{margin-top: -50px;}

.margin-top-70{margin-top: -70px;}

.margin-top-77{margin-top: -77px;}

.margin-top-100{margin-top: -100px;}

/*POSITIVE*/
.margin-top5{margin-top: 5px;}

.margin-top20{margin-top: 20px;}

.margin-top30{margin-top: 30px;}

.margin-top50{margin-top: 50px;}

.margin-top100{margin-top: 100px;}

.margin-top200{margin-top: 200px;}

.margin-top300{margin-top: 300px;}

/*OTHER*/
.margin-left30{margin-left: 30px;}

.margin-bottom100{margin-bottom: 100px;}

.margin-bottom300{margin-bottom: 300px;}

.padding-top30{padding-top: 30px;}

.padding-top50{padding-top: 50px;}

.padding-bottom50{padding-bottom: 50px;}

.floatleft{float: left;}

.floatright{float: right;}

.notbold{font-weight: 400;}

.hidden{display: none;}

.display{display: auto;}

.centered{text-align: center;}

.rightaligned{text-align: right;}

.leftaligned{text-align: left;}

.about{animation: about 60s linear infinite;}

.ellipsis{font-size: 3em;}

.grey{color: #757575;}

.black{color: black;}

.white{color: white}

.red{background-color: red;}

.blackbg{background-color: black;}

.grid{
	width: calc(100vw - 60px);
	background-color: pink;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

.block{
	background-color: lightblue;
	margin: 0 30px;
	max-width: 25%;
}

/* ~~~~~~~~~~~~~~~~~~~~ ANIMATIONS ~~~~~~~~~~~~~~~~~~~~ */
@keyframes about{
	0%		{background-color: #dbe0ff;}
	25%		{background-color: #ffe8ef;}
	50%		{background-color: #e5c7ff;}
	75%		{background-color: #d6fff2;}
	100%	{background-color: #dbe0ff;}
}

@keyframes rainbow {
  0%		{color: red;}
  25%		{color: blue;}
  50%		{color: teal;}
  75%		{color: blue;}
  100%	{color: black;}
}

@keyframes fadein{
	0%		{opacity: 0;}
	100%	{opacity: 100;}
}

/* ~~~~~~~~~~~~~~~~~~~~ 3D ~~~~~~~~~~~~~~~~~~~~ */
/* CUBE */
.intrographic{
	margin-top: -200px;
	transform: translate3d(0,0,0); /* SAFARI Z-INDEX FIX */
	-webkit-transform: translate3d(0,0,0); /* SAFARI Z-INDEX FIX */
}

#cube{
	width: 600px;
	height: 600px;
	margin: 0 auto 150px;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.side{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.8;
}

.cube_one{
	transform: translateZ(300px);
	-webkit-transform: translateZ(300px);
	background-color: red
}

.cube_two{
	transform: rotateY(90deg) translateZ(300px);
	-webkit-transform: rotateY(90deg) translateZ(300px);
	background-color: #ffff00; /* YELLOW */
}

.cube_three{
	transform: rotateY(180deg) translateZ(300px);
	-webkit-transform: rotateY(180deg) translateZ(300px);
	background-color: #00ff00; /* GREEN */
}

.cube_four{
	transform: rotateY(-90deg) translateZ(300px);
	-webkit-transform: rotateY(-90deg) translateZ(300px);
	background-color: #ff00c8; /* PINK */;
}

.cube_five{
	transform: rotateX(90deg) translateZ(300px);
	-webkit-transform: rotateX(90deg) translateZ(300px);
	background-color: #9013FE; /* PURPLE */;
}

.cube_six{
	transform: rotateX(-90deg) translateZ(300px) rotate(0deg);
	-webkit-transform: rotateX(-90deg) translateZ(300px) rotate(0deg);
	background-color: blue;
}

/* ~~~~~~~~~~~~~~~~~~~~ ALFA BNP ~~~~~~~~~~~~~~~~~~~~ */
#alfa_bnp{
	width: 800px;
	height: 800px;
	margin: 80px auto;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 1;
}

.alfa_bnp_side{
	position: absolute;
	opacity: 1;
}

.alfa_bnp_one{
	-webkit-transform: rotateY(-90deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.alfa_bnp_two{
	-webkit-transform: rotateY(0deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.alfa_bnp_three{
	-webkit-transform: rotateY(-90deg) rotateX(41.8deg) translateZ(-90px) translateY(-97px);
}

.alfa_bnp_four{
	-webkit-transform: rotateY(180deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.alfa_bnp_one svg, .alfa_bnp_two svg, .alfa_bnp_three svg, .alfa_bnp_four svg{
	height: 800px;
	width: 800px;
}


/* SPHERE */
#sphere{
	width: 600px;
	height: 600px;
	margin: 80px auto;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 1;
}

.sphere_side{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
	border-radius: 50%;
}

.sphere_one{
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	background-color: red;
}

.sphere_two{
	transform: rotateY(45deg) translateZ(0);
	-webkit-transform: rotateY(45deg) translateZ(0);
	background-color: #009246; /* ITALY GREEN */
}

.sphere_three{
	transform: rotateY(90deg) translateZ(0);
	-webkit-transform: rotateY(90deg) translateZ(0);
	background-color: red;
}

.sphere_four{
	transform: rotateY(135deg) translateZ(0);
	-webkit-transform: rotateY(135deg) translateZ(0);
	background-color: #009246; /* ITALY GREEN */
}

/* PYRAMID */
#pyramid{
	width: 800px;
	height: 800px;
	margin: 80px auto;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 1;
}

.pyramid_side{
	position: absolute;
	opacity: 1;
}

.pyramid_one{
	-webkit-transform: rotateY(-90deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.pyramid_two{
	-webkit-transform: rotateY(0deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.pyramid_three{
	-webkit-transform: rotateY(-90deg) rotateX(41.8deg) translateZ(-90px) translateY(-97px);
}

.pyramid_four{
	-webkit-transform: rotateY(180deg) rotateX(-41.8deg) translateZ(90px) translateY(-97px);
}

.pyramid_one svg, .pyramid_two svg, .pyramid_three svg, .pyramid_four svg{
	height: 800px;
	width: 800px;
}

/*.sparkle{
	display: block;
}

.sparkle1{
	-webkit-transform: translateY(540px) translateX(200px);
}

.sparkle2{
	-webkit-transform: translateY(140px) translateX(200px) rotateY(90deg);
}*/

/* ~~~~~~~~~~~~~~~~~~~~ PROJECTS ~~~~~~~~~~~~~~~~~~~~ */
.project{
	height: 100vh;
}

.project_headline{
	position: relative;
	margin: 0 auto;
	/*padding-top: 50px;*/
}

.graphic{
	position: relative;
	margin: 0 auto;
}

/* ALFA */
.alfaromeo{
	/*background-color: aqua;*/
}

.phone{
	height: 800px;
	padding-top: 110px;
}

.phone_content{
	width: 436px;
	height: 669px;
	margin: 0 auto;
  z-index: 98;
  overflow: scroll;
  -ms-overflow-style: scroll; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.phone_content img{
	width: 377px;
	margin: 0 30px;
}

.phone_content::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}

.phone_content::before{
	position: absolute;
	display: block;
	margin-top: -109px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 436px;
	height: 888px;
  z-index: 99;
  background-image: url('../images/phone_frame.png');
	background-size: 100%;
  content: "";
}

.phone::after{
	position: relative;
	display: block;
	width: 100px;
	height: 50px;
	left: 100%;
	margin: -600px 0 0 -50%;
	padding-left: 250px;
	color: #757575;
	content: "Scroll inside the phone";
}

/* ~~~~~~~~~~~~~~~~~~~~ PHOTO ~~~~~~~~~~~~~~~~~~~~ */
.photo{
	background-color: black;
	color: white;
	margin: 0 !important;
	padding: 30px;
}

.photo img{
	padding: 100px;
	max-width: 45%;
}

.margin-left40p{margin-left: 40%;}

/* ~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~ */
/* DESKTOP */
@media all and (max-width: 2000px) and (min-width: 1000px) {
  #cube, #sphere, #pyramid{
    transform-style: preserve-3d;
  	animation: spinzoneX 120s infinite linear;
  }
  @keyframes spinzoneX{
  	from {transform: rotateX(0);}
  	to {transform: rotateX(360deg);}
	}

  #cubeY, #sphereY, #pyramidY{
    transform-style: preserve-3d;
  	animation: spinzoneY 120s infinite linear;
  }
  @keyframes spinzoneY{
  	from {transform: rotateY(0);}
  	to {transform: rotateY(360deg);}
	}

  #cubeZ, #sphereZ, #pyramidZ{
    transform-style: preserve-3d;
  	animation: spinzoneZ 120s infinite linear;
  }
  @keyframes spinzoneZ{
  	from {transform: rotateZ(0);}
  	to {transform: rotateZ(360deg);}
	}

	.statement_mobile{
		display: none;
	}
}

/* MOBILE */
@media all and (max-width: 999px) and (min-width: 320px) {
	nav.about,
	nav.night{
	right: 20px;
	}

/*	h3{
		font-size: 3em;
	}*/

	h5{
		font-size: 3em;
		font-weight: 600;
	}

	.fifty{
		width: 100%;
	}

	.statement{
		display: none;
		margin-right: 10px;
	}

	.intrographic{
		margin-top: 200px;
	}

	p{
	font-size: 36px;
	line-height: 52px;
	}

	.block{
		max-width: 50%;
	}

	.intro-wrapper{
		height: 100vh;
	}
}











