/* ~~~~~~~~~~~~~~~~~~~~ Say hey → sasadjukic@protonmail.com ~~~~~~~~~~~~~~~~~~~~*/

*{transition: background-color 1s ease;}

body{
	margin: 0 40px;
	padding: 0;
	font-family: sans-serif;
	font-size: 95px;
	line-height: 105px;
	letter-spacing: -3.33px;
	color: black;
	background: white;
	animation: fadein 1s;
}

body img,
body video{
	width: 100%;
}

.dark,
.dark nav a{
	background: #111;
	color: white;
	animation: fadein 1s;
}

h1, h2, h3, h4{margin: 0;}

h2{font-weight: 500;}
h3{
	font-size: 200px;
	line-height: 250px;
	letter-spacing: -8px;
	font-weight: 400;
}

h4{
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -0.6px;
	font-weight: 100;
}

h5{
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.2px;
	font-weight: 100;
}

a.hover:hover{animation: hover .5s infinite;}

p,
p a{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2px;
	font-weight: 100;
	text-decoration: none;
	display: block;
	margin: 0 0 30px;
}

p a{
	color: blue;
}

::selection{
	color: blue;
}

canvas{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	z-index: -100;
	width: 100%;
	/*max-height: 800px;*/
	/*height: 800px;*/
	/*max-width: 1440px;*/
	margin: 0 auto;
	pointer-events: all;
	/*background-color: red;*/
	/*pointer-events: auto;*/ /* this might help when allowing to play with the blob on mobile */
}

.row{
	/*background: #eee;*/
	max-width: 1440px;
	margin: 0 auto;
	/*padding: 0 40px;*/
}

.maxwidth1440{max-width: 1440px;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVIGATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.name, .info, .back{display: inline-block; margin-top: 25px;}
.info, .back{float: right; font-family: "MigraItalic-ExtralightItalic"; letter-spacing: -2px;}
nav a{
	color: black;
	text-decoration: none;
}
nav a:hover{
	/*color: blue;*/
	animation: hover .5s infinite;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MARGINS & PADDING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.nomargin{margin:0;}
.margin-top10{margin-top: 10px;}
.margin-top20{margin-top: 20px;}
.margin-top40{margin-top: 40px;}
.margin-top50{margin-top: 50px;}
.margin-top60{margin-top: 60px;}
.margin-top70{margin-top: 70px;}
.margin-top80{margin-top: 80px;}
.margin-top100{margin-top: 100px;}
.margin-top120{margin-top: 120px;}
.margin-top150{margin-top: 150px;}
.margin-top200{margin-top: 200px;}
.margin-top250{margin-top: 250px;}
.margin-top300{margin-top: 300px;}
.margin-top750{margin-top: 750px;}
.margin-top-minus20{margin-top: -20px;}
.margin-top-minus40{margin-top: -40px;}
.margin-top-minus50{margin-top: -50px;}
.margin-top-minus100{margin-top: -100px;}
.margin-top-minus150{margin-top: -150px;}
.margin-bottom20{margin-bottom: 20px;}
.margin-bottom50{margin-bottom: 50px;}
.margin-bottom100{margin-bottom: 100px;}
.margin-bottom150{margin-bottom: 150px;}
.margin-bottom200{margin-bottom: 200px;}
.margin-bottom250{margin-bottom: 250px;}
.margin-left40{margin-left: 40px;}
.margin-right40{margin-right: 40px;}
.padding-top350{padding-top: 350px;}
.padding-bottom60{padding-bottom: 60px;}
.padding-bottom100{padding-bottom: 100px;}
.padding-bottom150{padding-bottom: 150px;}
.padding-bottom200{padding-bottom: 200px;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BACKGROUND COLOURS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*.color-yellow{background-color: #FFAE4D;}*/
.color-darkred{background-color: #380000;}
.color-darkblue{background-color: #00002D;}
.color-lightteal{background-color: #F7FFF8;}
.color-lightgray{background-color: #eee;}
.color-darkgray{background-color: #111;}
.color-blue{background-color: blue;}
.color-darkgreen{background-color: #092808;}
.color-lightgreen{background-color: #A2FFD4;}
.color-yellow{background-color: #FFC122;}
.color-orange{background-color: #ff8077;}
.color-black{background-color: black}
.color-white{background-color: white}
.color-bottom{background-color: #FFA337;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GRID ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.grid img,
.grid video{
	width: 100%;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}

.col3{width: 21%;}
.col6{width: 45%;}
.col9{width: 74%;}
.col12{max-width: 1440px;}
.empty{display: block;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ VISIBILITY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*.visible{display: block;}
.visible_favs{display: flex;}
.hidden{display: none;}*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ IMAGES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.rounded{border-radius: 15px;}
.notrounded{border-radius: 0 !important;}
.mediaborder_dark{border: 1px solid white;}
.mediaborder_light{border: 1px solid black;}

.wide{
/*	width: calc(200% - 80px);
	margin: 0 auto;*/
}

.mini{
	margin: 0 auto;
	display: block;
	width: 75px;
}

.zoomin img:hover,
.zoomin video:hover{
	animation: zoomin 3s forwards;
}

/*.row img{
	max-width: 50%;
	float: left;
}*/

.col3 img,
.col3 video{
	width: 100%;
}

.col6 img,
.col6 video{
	width: 100%;
}

.col3 img.fullheight{
	max-height: 150px;
	width: auto;
}

.col9 img.fullheight,
.col9 video.fullheight{
	max-height: 666px;
	width: auto;
	margin: 0;
	padding: 0;
}

.swiper-slide img{
  float: left;
}

.fullheight{
	max-height: 666px;
	width: auto;
	display: inline-block;
	/*float: left;*/
}

.photosofme{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

.photosofme img{
	width: 45%;
}

.alignment{
	margin-left: -80px;
}

.swiper-container{
	cursor: grab;
}

.swiper-container:active{
	cursor: grabbing;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TEXT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
	font-family: "MigraItalic-ExtralightItalic";
	src: url("fonts/MigraItalic-ExtralightItalic.eot");
	src: url("fonts/MigraItalic-ExtralightItalic.eot?#iefix") format("embedded-opentype"),
	     url("fonts/MigraItalic-ExtralightItalic.woff2") format("woff2"),
	     url("fonts/MigraItalic-ExtralightItalic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.leftaligned{text-align: left;}
.rightaligned{text-align: right;}
.centered{text-align: center;}
.inverted,
.whitetext{color: #eee !important;}
.blue{color: white;}
.yellow{
  background-color: black;
  color: #FFC122;
}
.regular{
	background-color: black;
	color: white;
}

/*.massive{
	font-size: 310px;
	line-height: 250px;
	letter-spacing: -10.67px;
	font-weight: 400;
	padding: 0 40px;
	width: 100%;
}*/

.text span{ /* #favourites h3 */
	font-family: "MigraItalic-ExtralightItalic";
	letter-spacing: -2px;
	line-height: inherit;
}

.original_source{
	padding: 0;
	font-size: 0;
	line-height: 0;
}

.original_source a{
	font-size: 9px;
	line-height: 9px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #757575;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MARQUEE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.marquee{
  height: 100px;
  /*width: 1000%;*/
  overflow: hidden;
  position: relative;
}

.marquee div{
  display: block;
  width: 1000%;
  height: 100px;
  position: absolute;
  overflow: hidden;
  animation: marquee 175s linear infinite;
}

.marquee span{
  float: left;
  width: 1000%;
}

@keyframes marquee{
  0% {left: 0;}
  100% {left: -1000%;}
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.buttons, .tabs{text-align: center;}

a.buttonsreg{
	padding: 6px 24px 9px;
	display: inline;
	font-size: 30px !important;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: -1px;
	background: blue;
	border-radius: 225px;
	text-decoration: none;
	color: white;
}
a.buttonsreg:hover{background: black;}

a.buttonsalt{
	padding: 6px 0 9px;
	display: inline;
	font-size: 30px !important;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: -1px;
	border-radius: 225px;
	text-decoration: none;
	color: black;
}
a.buttonsalt:hover{color: blue;}

a.buttonsalt.nohover:hover{
	color: black;
}

a.buttonstab{
	padding: 6px 24px 9px;
	display: inline;
	font-size: 30px !important;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: -1px;
	border-radius: 225px;
	text-decoration: none;
	color: black;
	border: 2px white solid;
}
a.buttonstab:hover{
	color: blue;
	border: 2px blue solid;
	cursor: pointer;
}

a.buttonstabblue{
	padding: 6px 24px 9px;
	display: inline;
	font-size: 30px !important;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: -1px;
	border-radius: 225px;
	text-decoration: none;
	color: white;
	border: 2px blue solid;
}
a.buttonstabblue:hover{
	color: black;
	border: 2px blue solid;
	cursor: pointer;
}

.active_tab{
	color: blue !important;
	border: 2px blue solid !important;
}

.active_tab_blue{
	color: white !important;
	border: 2px white solid !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LFA ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.lfa a{
	display: block;
	text-decoration: none;
	color: black;
}

.lfa.inverted a{
	color: white;
}

.lfa h4{
	line-height: 34px;
}

.lfa a:hover{
	color: blue;
}

.lfa img:hover,
.lfa video:hover{
	animation: zoomin 3s forwards;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ANIMATIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@keyframes fadein{
	0%		{opacity: 0;}
	100%	{opacity: 100;}
}

@keyframes zoomin{
	0%		{transform: scale(1);}
	100%	{transform: scale(1.025);}
}

@keyframes rainbow {
  0%		{background: red;}
  25%		{background: blue;}
  50%		{background: teal;}
  75%		{background: blue;}
  100%	{background: black;}
}

@keyframes amongotherthings {
  0%		{color: black;}
  25%		{color: blue;}
  50%		{color: lime;}
  75%		{color: blue;}
  100%	{color: black;}
}

@keyframes hover {
  0%		{color: blue;}
  50%		{color: lime;}
  100%	{color: blue;}
}

.amongotherthings{
	animation: amongotherthings 3s infinite;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (max-width: 999px) and (min-width: 412px) {

	*{
/*		font-size: 56px;
		line-height: 74px;*/
		font-size: 60px;
		line-height: 65px;
		letter-spacing: -2px;
	}

	h3{font-size: 200px;}
	h4{
		font-size: 40px;
		line-height: 34px;
	}

	p, p a {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
  }

	.col3{width: 45%;}
	.col6{width: 45%;}
	.col9{width: 100%;}
	.col12{max-width: 1440px;}
	.col9 img.fullheight, .col9 video.fullheight{width: 50%;}
	.empty{display: none;}

	.info,
	.text span{
		letter-spacing: -1px;
	}

	.marquee{
		height: 74px;
	}

	.marquee div{
	  animation: marquee 100s linear infinite;
	}

	h2.amongotherthings,
	h2.amongotherthings span{
		font-size: 100px;
	}

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*@media only (max-width: 411px) and (min-width: 320px) {

	canvas{
		display: none;
	}

}*/














